<div *ngIf='shopItem'>
  <div class="container shadow-lg p-3 mb-5 bg-body rounded">
    <div class="container" (click)="returnToShop()">
      <h2>{{shopItem.itemName}}</h2>
      <figure class="figure">
        <img class="img-fluid shop-image" src={{shopItem.img}} alt={{shopItem.alt}}>
        <figcaption class="figure-caption text-end">{{shopItem.description}}</figcaption>
      </figure>
      <p>${{shopItem.price}}</p>
    </div>
    <app-add-to-cart [item] = "shopItem"></app-add-to-cart>
    <app-item-quantity [shopItem] = "shopItem"></app-item-quantity>
  </div>
</div>