<app-navigation [selectedLink]="link"></app-navigation>
<div class="container shadow-lg p-3 mb-5 bg-body rounded">
  <h2>Store</h2>
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let shopItem of shopItems">
        <a routerLink="/details/{{shopItem.id}}">
          <img class="thumbnail" src={{shopItem.img}} alt={{shopItem.alt}}>
          <p>{{shopItem.itemName}}</p>
        </a>
        <p>{{shopItem.description}}</p>
        <p>${{shopItem.price}}</p>
        <app-add-to-cart [item] = "shopItem"></app-add-to-cart>
        <app-remove-from-cart [item] = "shopItem"></app-remove-from-cart>
        <!-- <ng-container *ngIf='shopItem.quantity'>
          <p>Quantity: {{shopItem.quantity}}</p>
        </ng-container> -->
        <app-item-quantity [quantity] = "shopItem.quantity"></app-item-quantity>
    </li>
  </ul>
</div>