<div *ngIf='shopItem'>
  <div class="container-fluid" (click)="returnToShop()">
    <h2>{{shopItem.itemName}}</h2>
    <figure class="figure">
      <img class="img-fluid" src={{shopItem.img}} alt={{shopItem.alt}}>
      <figcaption class="figure-caption text-end">{{shopItem.description}}</figcaption>
    </figure>
    <p>${{shopItem.price}}</p>
  </div>
  <button class="btn btn-outline-primary">Add to cart</button>
</div>

<!-- export interface ShopItems {
  id: number;
  itemName: string;
  price: number;
  img: string;
  alt: string;  
} -->
