<app-navigation [selectedLink]="link"></app-navigation>
<div class="container shadow-lg p-3 mb-5 bg-body rounded">
  <h2>Jurassic Park</h2>
  <p>
    John Hammond (Richard Attenborough) is the owner of Jurassic Park, a theme park located on Isla Nublar. After an incident with a velociraptor, Hammond brings in three specialists to sign off on the park to calm investors. The specialists, paleontologist Alan Grant (Sam Neill), paleobotanist Ellie Sattler (Laura Dern), and chaos theorist Ian Malcolm (Jeff Goldblum) are surprised to see the island park's main attraction are living, breathing dinosaurs, created with a mixture of fossilized DNA and genetic cross-breeding/cloning. When lead programmer Dennis Nedry (Wayne Knight) turns off the park's power to sneak out with samples of the dinosaur embryos to sell to a corporate rival, the dinosaurs break free, and the survivors are forced to find a way to turn the power back on and make it out alive.
  </p>
</div>
