<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" [class.active]="'main' === selectedLink" aria-current="page" routerLink="/main">Main</a>
          <a class="nav-link" [class.active]="'characters' === selectedLink" routerLink="/characters">Characters</a>
          <a class="nav-link" [class.active]="'store' === selectedLink" routerLink="/store">Store</a>
        </div>
    </div>
  </div>
</nav>