.top-nav {
  background-color: rgb(165, 154, 155);
  display: grid;
  align-content: center;
}

.nav-list {
  display: flex;
  list-style: none;
  justify-content: space-between;
}

.nav-link {
  padding: 1rem;
}

.nav-link:hover {
  background-color: rgb(216, 176, 176);
}